@import url("default.css");

div.admonition-todo {
    background-color: #ffa;
    border: 1px solid #ee2;
}

div.dbapi-extension {
    background-color: #f5ffd4;
    border: 1px solid #bda;
}

tt.sql {
    font-size: 1em;
    background-color: #fff;
}

a > tt.sql:hover {
    text-decoration: underline;
}

