# Load the license from an external source, so we don't have to keep a
# copy of it sitting around:
<load>
  LICENSE.txt  http://svn.zope.org/*checkout*/Zope3/trunk/ZopePublicLicense.txt?rev=25177
</load>

# Add a few things to the distribution root.
<distribution>
  README.txt
</distribution>

# Specify what is included in the component.
<collection>

  # Documentation files of the package:
  *.txt

  # Python modules from the package:
  *.py

  # Configuration files of the package:
  *.zcml

</collection>
